nav{
    display: flex;
    height: 60px;
    background-color: aqua;
}
.navContainer{
    display: flex;
    width: auto;
    /* background-color: red; */
    justify-content:start;
    align-items: center;
}

.navContainer img{
    height: 80%;
    border-radius: 90%;
    padding: 0 0 0 8px;
}
.navContainer2{
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: center;
}